$base-padding: 20px;

$font-size: 14px;
$font-size-small: 12px;
$font-size-large: 16px;
$font-size-smallest: 10px;

$slate-debug-font-family: monaco, Consolas, 'Lucida Console', monospace;

$font-color: #414141;
$brand-primary: #ffb400 !default;
$editor-toolbar-bg-color: #fbfbfb;