@import 'variables.scss';
.slate-dev-tools {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  width: 380px;
  font-family: $slate-debug-font-family;
  &.debug-json-tree {
    .debug-body {
      height: 100%;
      & > ul {
        padding-left: $base-padding / 4 !important;
        margin: 0 !important;
        width: 100%;
        overflow: auto;
      }
    }
  }
  &.collapsed {
    width: 0;
    .debug-actions {
      visibility: hidden;
    }
    .hide-toggle {
      display: block;
    }
    box-shadow: none;
  }
  z-index: 10000;
  box-shadow: 0 0 6px 1px rgba(102, 102, 102, 0.6);
  display: flex;
  flex-direction: column;
  .debug-body {
    display: flex;
    height: 100%;
    font-size: $font-size-small;
    .raw-content {
      font-family: $slate-debug-font-family;
      position: relative;
      width: 100%;
      padding: $base-padding/4;
      margin: 0;
      border: none;
      border-radius: 0;
      z-index: 4;
      font-size: $font-size-small;
    }
  }
  .debug-head {
    flex: 0 0 auto;
    background-color: $editor-toolbar-bg-color;
    z-index: 5;
    box-shadow: 1px 1px 2px 0 rgba(102, 102, 102, 0.6);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 22px;
    .debug-title {
      padding-left: 10px;
      color: $font-color;
      .slate-dev-tools-id {
        font-weight: bold;
      }
      .slate-dev-tools-icon {
        width: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: top;
        img {
          opacity: 0.7;
        }
      }
      .debug-title-mode {
        line-height: 22px;
        vertical-align: top;
      }
      font-size: $font-size-small;
      white-space: nowrap;
    }
    .debug-actions {
      flex: 0 0 auto;
      button {
        cursor: pointer;
        padding: 0 2px;
        border: none;
        opacity: 0.5;
        background: none;
        &:hover {
          opacity: 1;
        }
        &.toggle-sync {
          &.hide {
            display: none;
          }
          &.active {
            opacity: 1;
          }
        }
        & > span {
          display: block;
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  .hide-toggle {
    svg {
      width: 14px;
      height: 14px;
      fill: #fff;
      &:first-child {
        padding-right: 5px;
      }
    }
    line-height: 0;
    display: none;
    padding: 0;
    position: absolute;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-width: 0;
    padding: $base-padding/5;
    background-color: #2a2f3a;
    color: #fff;
    top: 50%;
    left: -17px;
    z-index: 3;
    cursor: pointer;
    transition: left 0.2s;
    margin-right: -27px;
    &:hover {
      left: -41px;
      svg {
        &:first-child {
          width: 14px;
        }
      }
    }
  }
}
