.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-editor {
  padding: 10px;
  background-color: whitesmoke;
  color: #282c34;
  min-width: 600px;
  min-height: 100px;
  text-align: left;
  border-radius: 6px;
  margin-bottom: 10px;
}

.slate-debugger-id {
  color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
