.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-header {
  color: white;
}

.App-footer {
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}
.App-version {
  color: #61dafb;
  font-size: small;
}

.App-reset {
  margin-top: 0;
}

.App-editor {
  padding: 10px;
  background-color: whitesmoke;
  color: #282c34;
  min-width: 600px;
  min-height: 150px;
  text-align: left;
  border-radius: 6px;
  margin-bottom: 10px;
}

.slate-debugger-id {
  color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
